{:token-taper/app
 {:service-name "token-taper"
  :service-version "0.1.0-SNAPSHOT"
  :environment "test"}

 :token-taper/http
 {:host "127.0.0.1"
  :port 0
  :join? false
  :stop-timeout-ms 1000}

 :token-taper/http-server
 {:config #ig/ref :token-taper/http
  :app #ig/ref :token-taper/app}

 :token-taper/config
 {:loaded-from "resources/config.test.edn"}}
